
/* Variable declaration */
$primary_color_light: #fffffe;      // Background, Main
$primary_color_dark: #272343;       // Headline, Button text, Stroke
$primary_color_text: #2d334a;       // Paragraph
$primary_color_highlight: #ffd803;  // Button, Highlight
$secondary_color: #e3f6f5;          // Secondary
$tertiary_color: #bae8e8;           // Tertiary
$primary_button_hover: #FFE86B;
$primary_button_active: #F0CB00;
$primary_text_link: #2B8282;
$secondary_button_color: #FFF2A8;
$secondary_button_hover: #FFF9DB;
$secondary_button_active: #FFE86B;
$secondary_stroke_color: #FFD803;
$secondary_stroke_hover: #FFE86B;
$secondary_stroke_active: #F0CB00;
$tertiary_text_link: #297A7A;
$primary_font: 'Satoshi', Arial, sans-serif;

/* breakpoints */
@mixin for-phone-only {
  @media all and (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media all and (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media all and (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media all and (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media all and (min-width: 1800px) { @content; }
}

/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $primary_font;
}
html, body, div, p, ul, li {
    line-height: 1.5;
    color: $primary_color_text;
}
h1, h2, h3 {
    line-height: 1.25;
    color: $primary_color_dark;
}


/* Default for mobile */

html, body {
    min-width: 320px;
    font-size: 14px;

    -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit-based browsers */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    font-smoothing: antialiased; /* Standard property, though not widely supported */
    
    @include for-tablet-portrait-up {
        font-size: 14px;
    }
    @include for-tablet-landscape-up {

    }
    @include for-desktop-up {
        font-size: 16px;
    }
    @include for-big-desktop-up {
        font-size: 18px;
    }
}

/* Layout / containers */

/* Loading screen */
#loading_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
    background-color: $secondary_color;
    color: $primary_color_text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 20000; /* Ensure it is above all other content */
    opacity: 1;
    pointer-events: none;
}

/* Landing area */
#landing_container {
    display: flex;
    flex-direction: column;
    min-height: 70lvh;
    height:80lvh; /* Take full viewpoint */
    overflow-y: none; /* If content overflow -> vertical scrolling */
    justify-content: center;
    text-align: center;
}
#landing_item {
    flex-grow: 1;
    background-color: $primary_color_dark;
    max-height: 100%;
    overflow: hidden;

    #landing_svg {
    width: 100%;
    height: 100%;
    pointer-events: all; 
    opacity: 0.0;
    animation: fade_in 2s ease-in-out 0s forwards;
    }
    
    .background_lines {
        stroke: $primary_color_light;
    }

    @keyframes fade_in {
        100% {
            opacity: 0.4;
        }
    }
}
#landing_align {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    #landing_text {
        width: 80%;
        height: 60lvh;
        max-height: 300px;
        
        #landing_svg_text {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            font-style:normal;
            font-variant:normal;
            font-weight:normal;
            font-stretch:normal;
            font-family: $primary_font;
            font-variant-ligatures:normal;
            font-variant-caps:normal;
            font-variant-numeric:normal;
            font-variant-east-asian:normal;
            text-align:start;
            writing-mode:lr-tb;
            direction:ltr;
            text-anchor:start;
            fill: $primary_color_light;
            stroke: $primary_color_light;
            stroke-width:2;

            .svg_text_name {
                fill: $secondary_color;
                stroke: $secondary_color;
            }

            #svg_text_highlight {
                fill: $primary_color_highlight;
                stroke: $primary_color_highlight;
            }
        }
    }
}

/* Menu */
#sticky_container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5000; /* > main page < overlay */
    background-color: $secondary_color;
    margin-bottom: 2rem;
    
    .menu_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; // flex-end;
        align-items: center;
        list-style: none;
        padding:0px;
        margin: 0;
        justify-content: center;

        li {
            margin: 1rem;
        }
    }
}
button {    // Defines all buttons on website
    width: auto;
    white-space: nowrap;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    gap: 0;
    border-radius: 999px;

    color: $primary_color_dark;
    background-color: $primary_color_highlight;
    
    border: none;

    &:hover {
        background-color: $primary_button_hover;
    }
    &:active {
        background-color: $primary_button_active;
    }
    
}
.secondary_button {
        background-color: $secondary_button_color;
        border-color: $secondary_stroke_color;
        border-style: solid;
        border-width: 2px;
        &:hover {
            background-color: $secondary_button_hover;
            border-color: $secondary_stroke_hover;
        }
        &:active {
            background-color: $secondary_button_active;
            border-color: $secondary_stroke_active;
        }
    }

/* Article selection area */
#article_space{
    text-align: center;
    h1 {
        font-size: 2rem;
    }

    .article_container {    
        display: flex;
        flex-direction: column; /* Allows articles to wrap to the next line */
        flex-wrap: nowrap;
        justify-content: center; /* Centers articles horizontally */
        gap: 50px; /* Space between articles */
        padding-top: 5%;
        padding: 5% 5%;
        background-color: $primary_color_light;

        @include for-tablet-portrait-up {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include for-tablet-landscape-up {

        }
        @include for-desktop-up {

        }
        @include for-big-desktop-up {
            
        }

        .article_item {
            flex: 1 1 90%;  // Can grow, shrink with ideal 90% size
            min-width: 300px;
            max-width: 90%; // Mobile first :) - only 1 column
            height: auto;
            aspect-ratio: 4 / 3;
            padding: 0px;
            position: relative;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;

            @include for-tablet-portrait-up {
                flex: 1 1 400px;
                min-width: 300px;
                max-width: 40%;     // Only 2 cards presented
            }
            @include for-tablet-landscape-up {
                max-width: 25%;
            }
            @include for-desktop-up {
                &:hover {
                    p {
                        display: block;
                    }
                    img {

                        filter: blur(1px);
                    }
                }
            }
            @include for-big-desktop-up {
            }
            .container_image {
                width: 100%;
                height: 100%;
                bottom: 0;
                position: absolute;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                object-fit: cover;
                @include for-tablet-portrait-up {
                }
                @include for-tablet-landscape-up {
                }
                @include for-desktop-up {

                }
                @include for-big-desktop-up {
                }
            }
            .container_header { // Text in item / card
                width: calc(100% - 2*0.5rem);     // 100% width - 2x 2.5% padding
                padding: 0.5rem;
                position: absolute;
                bottom: 0;
                background-color: rgba($color: $primary_color_light, $alpha: 0.8);
                text-align: center;
                border-radius: 0.0rem 0.0rem 0.5rem 0.5rem;
                @include for-tablet-portrait-up {
                }
                @include for-tablet-landscape-up {
                }
                @include for-desktop-up {

                }
                @include for-big-desktop-up {
                }
            }
            h2 {
                font-size: 1.0rem;
            }
            p {
                font-size: 1rem;
                display: block;
                @include for-tablet-portrait-up {
                }
                @include for-tablet-landscape-up {
                }
                @include for-desktop-up {
                    display: none;
                }
                @include for-big-desktop-up {
                }
            }
        }
}
}
/* Article popup */
#blur_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $primary_color_dark, $alpha: 0.2); // Semi-transparent black overlay
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 6000; // > Menu < popup 
    backdrop-filter: blur(8px); // Adjust blur strength as needed
    -webkit-backdrop-filter: blur(8px); // For Safari and other WebKit browsers

    .popup_container {
        display: none;
        position: fixed;
        height: 90%;
        width: 90%;
        min-width: 300px;
        overflow-y: hidden; /* If content overflow -> vertical scrolling */
        scrollbar-width: thin;
        scrollbar-color: $primary_color_light;
        border-radius: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: $primary_color_light;
        background-color: $primary_color_light;
        z-index: 7000; /* > overlay */
        @include for-tablet-portrait-up {
            width: 75%;
        }
        @include for-tablet-landscape-up {
            width: 70%;
        }
        @include for-desktop-up {
            width: 60%;
        }
        @include for-big-desktop-up {
        
        }
        .close_menu {
            position: sticky;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 0;
            width: 100%;
            background-color: $secondary_color;
            h1 {
                font-size: 1.5rem;
                margin-left: 5%;
                padding: 0.5rem 0.5rem;
            }
            button {
                margin-right: 5%;
            }
        }
        .popup_article {
            padding: 5%;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 90%;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
                margin: auto;
                display: block;
                @include for-tablet-portrait-up {
        
                }
                @include for-tablet-landscape-up {
                    max-height: 50%;
                }
                @include for-desktop-up {
                    width: 85%;
                }
                @include for-big-desktop-up {
                    width: 75%;
                }
            }
            p, figcaption, h1, h2, h3, a, div, img {
                margin-bottom: 1.5em;
                margin-top: 1.5em;

                @include for-tablet-portrait-up {
                    margin-top: 3.5%;
                }
                @include for-tablet-landscape-up {
                    margin-top: 2.5%;
                }
                @include for-desktop-up {
                }
                @include for-big-desktop-up {
                }
            }
            h1 {
                font-size: 1.5rem;
                @include for-big-desktop-up {
                    font-size: 2rem;
                }
            }
            h2 {
                font-size: 1.2rem;
                margin-bottom: 0%;
                @include for-big-desktop-up {
                    font-size: 1.6rem;
                }
            }
            a {
                font-style: bold;
                color: $primary_text_link;
                &:hover {
                color: $primary_color_highlight;
                }
            }
            mark {
                color: $tertiary_text_link; //$primary_color_highlight;
                font-weight: bold;
                background-color: transparent;
            }
            ul {
                list-style-position: inside;
                padding-left: 5%;
            }
            li {
                // margin:0;
                list-style-position: outside;
            }
            figcaption {
                font-size: 0.8rem;
                text-align: center;
            }
            .a_button {
                &:link, &:visited, &:hover, &:active {
                text-decoration: none;
                }
            }
            .p_button {
                text-align: center;
            }   
            .img_header {
                width: 100%;
                height: 100px;
                object-fit: cover;

                @include for-tablet-portrait-up {
                    
                }
                @include for-tablet-landscape-up {
                    height: 200px;
                }
                @include for-desktop-up {
                }
                @include for-big-desktop-up {
                }
            }
            .code {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            code {
                max-width: 70%;
                padding-left: 1rem;
                padding-right: 1rem;
                border-width: 1px;
                border-style: solid;
                background-color: $secondary_color;
            }
            #award_images{
                display: flex;
                flex-direction: row;
                justify-content: center;
                // flex-wrap: wrap;
                width: 100%;
                div{
                    max-height: 50px;
                    margin-left: 2%;
                    margin-right: 2%;

                    @include for-tablet-portrait-up {
                    
                    }
                    @include for-tablet-landscape-up {
                        max-height: 100px;
                    }
                    @include for-desktop-up {
                        max-height: 200px;
                    }
                    @include for-big-desktop-up {
                    }
                }
                img {
                    // height: 150px;
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}
#footer {
    background-color: $primary_color_light;
    color: $primary_color_dark;
    font-size: x-small;
    text-align: center;
}
