
/* Variable declaration */
$primary_color_light: #bfc2c2;
$primary_color_dark: #3D4040; // rgb(34,34,34);
$highlight_colour_orange: #d9230f;
// $primary_font: 'Courier New', monospace;
$primary_font: Verdana, Arial, sans-serif;

/* breakpoints */
@mixin for-phone-only {
  @media all and (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media all and (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media all and (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media all and (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media all and (min-width: 1800px) { @content; }
}

/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $primary_font;
    color: $primary_color_light;
}

/* Default for mobile */

html, body {
    min-width: 320px;
    font-size: 14px;

    -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit-based browsers */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    font-smoothing: antialiased; /* Standard property, though not widely supported */
    
    @include for-tablet-portrait-up {
        font-size: 14px;
    }
    @include for-tablet-landscape-up {

    }
    @include for-desktop-up {
        font-size: 16px;
    }
    @include for-big-desktop-up {
        font-size: 18px;
    }
}

/* Layout / containers */

/* Loading screen */
#loading_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;
    background-color: black;
    color: $primary_color_light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 4000; /* Ensure it is above all other content */
    opacity: 1;
    pointer-events: none;
    // transition: opacity 3s ease-in-out, display 3s allow-discrete;
}

// #loading_screen.fade-out {
//     opacity: 0;
//     display: none;
// }

/* Landing area */
#landing_container {
    display: flex;
    flex-direction: column;
    min-height: 100lvh;
    height: 100lvh; /* Take full viewpoint */
    overflow-y: none; /* If content overflow -> vertical scrolling */
    justify-content: center;
    text-align: center;
    background-color: lightslategray;
}
#landing_item {
    flex-grow: 1;
    background-color: black;
    max-height: 100lvh;
    overflow: hidden;
    // position: relative;
    svg {
        --path_stroke_size: 1; /* .26458437 */
        --path_stroke: #bfc2c2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include for-tablet-portrait-up {

        }
        @include for-tablet-landscape-up {

        }
        @include for-desktop-up {

        }
        @include for-big-desktop-up {
            
        }
    }
}
#landing_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.0;
    animation: fade_in 3s ease-in-out 1s forwards;
}
#landing_icon {
    width: 5rem;
    height: auto;
    position: relative;
    top: 0;
}
#logo {
    margin: 0;
    padding: 0;
    border: none;
}
#landing_align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 300px;
}
#landing_content {
    position: relative;
    margin-top: calc(5rem - 5px);
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transform: translateY(-100%);
        height: 5rem;
        width: 2px;
        background-color: $primary_color_light;
    }
}
#landing_text.animated{
    animation: expand_title 1.5s ease-out 0s forwards;
}
@keyframes expand_title {
    0% {
        max-height: 0;
        padding: 0rem;
        opacity: 0;
    }
    30% {
        max-height: 500px;
        padding: 2rem;
        // opacity: 1;
    }
    100% {
        // max-height: 500px;
        // padding: 2rem;
        opacity: 1;
    }
}
#landing_text
{
    color: $primary_color_light;
    text-shadow: 2px 2px 4px #000000;
    border-top: $primary_color_light solid 2px;
    border-bottom: $primary_color_light solid 2px;
    padding: 2rem;

    max-height: 500px;
    overflow: hidden;
    
    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1rem;
    }
}
@keyframes fade_in {
    100% {
        opacity: 0.4;
    }
}
// #svg_dog.animate {
//     animation: draw_line 2s linear 1s forwards;
// }
// #svg_cir.animate {
//     animation: draw_line 0.5s linear 3s forwards;
// }
// #svg_dow.animate {
//     animation: draw_line 0.4s linear 3.5s forwards;
// }
// #svg_l11.animate, #svg_l12.animate, #svg_l21.animate, #svg_l22.animate {
//     animation: draw_line 0.5s linear 3.9s forwards;
// }
// #svg_txt2.animate, #svg_txt3.animate, #svg_txt4.animate {
//     opacity: 0;
//     animation: fade_txt 1s ease-in-out 0s forwards
// }
// @keyframes draw_line {
//     100% {
//         stroke-dashoffset: 0;
//     }
// }
// @keyframes fade_txt {
//     100% {
//         opacity: 1;
//     }
// }


/* Menu */
#sticky_container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5000; /* > main page < overlay */
    background-color: $primary_color_dark;
    
    .menu_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; // flex-end;
        align-items: center;
        list-style: none;
        padding:0px;
        margin: 0;
        justify-content: center;

        li {
            margin: 1rem;
        }
        button {
            width: auto;
            white-space: nowrap;
            font-size: 1rem;
            color: $highlight_colour_orange;
            background-color: $primary_color_light;
            padding: 10%;
            border: none;
            border-radius: 20%;
            box-shadow: 0px 0px 2px 2px $primary_color_light;
            &:hover {
                color: $primary_color_light;
                background-color: $highlight_colour_orange;
                box-shadow: 0px 0px 2px 2px $highlight_colour_orange;
            }
        }
    }
}

/* Article selection area */
#article_container {    
    display: flex;
    flex-direction: column; /* Allows articles to wrap to the next line */
    flex-wrap: nowrap;
    justify-content: center; /* Centers articles horizontally */
    align-items: center;
    gap: 50px; /* Space between articles */
    padding: 10%;
    background-color: $primary_color_light;

    @include for-tablet-portrait-up {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include for-tablet-landscape-up {

    }
    @include for-desktop-up {

    }
    @include for-big-desktop-up {
        
    }

    .article_item {
        flex: 1 1 90%;
        min-width: 90%;
        max-width: 100%; /* Mobile first :) */
        padding: 0px;
        position: relative;
        // background-color: lightblue;
        @include for-tablet-portrait-up {
            flex: 1 1 300px;
            min-width: 200px;
            max-width: 30%;
            // background-color: lightgreen;
        }
        @include for-tablet-landscape-up {
            // background-color: lightseagreen;
            max-width: 25%;
        }
        @include for-desktop-up {
            // background-color: lightpink;
            &:hover {
                p {
                    display: block;
                }
                div {
                    background-color: rgba($color: $primary_color_dark, $alpha: 0.8);
                }
                img {
                    // width: 110%;
                    // height: 110%;
                    filter: none;
                }
            }
        }
        @include for-big-desktop-up {
            // background-color: lightskyblue;
        }

        img {
            width: 100%;
            // height: 100%;
            border-radius: 10%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            object-fit: cover;
            @include for-tablet-portrait-up {
            }
            @include for-tablet-landscape-up {
            }
            @include for-desktop-up {
                filter: blur(2px);
                transition: width 0.2s, height 0.2s, filter 0.2s;
                transition-timing-function: ease-out;
            }
            @include for-big-desktop-up {
            }
        }
        div {
            width: 80%;
            padding: 2.5%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $primary_color_dark;
            background-color: rgba($color: $primary_color_dark, $alpha: 0.8);
            text-align: center;
            border-radius: 5%;
            @include for-tablet-portrait-up {
            }
            @include for-tablet-landscape-up {
            }
            @include for-desktop-up {
                transition: background-color 0.5s ease-out;
                background-color: transparent;
            }
            @include for-big-desktop-up {
            }
        }
        h2 {
            font-size: 1.2rem;
        }
        p {
            font-size: 1rem;
            display: block;
            @include for-tablet-portrait-up {
            }
            @include for-tablet-landscape-up {
            }
            @include for-desktop-up {
                display: none;
            }
            @include for-big-desktop-up {
            }
        }
    }
}

/* Article popup */
#blur_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 6000; // > Menu < popup 
    backdrop-filter: blur(8px); // Adjust blur strength as needed
    -webkit-backdrop-filter: blur(8px); // For Safari and other WebKit browsers

    .popup_container {
        display: none;
        position: fixed;
        height: 90%;
        width: 90%;
        min-width: 300px;
        overflow-y: hidden; /* If content overflow -> vertical scrolling */
        scrollbar-width: thin;
        scrollbar-color: $primary_color_light;
        border-radius: 3%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: $primary_color_light;
        background-color: whitesmoke;
        z-index: 7000; /* > overlay */
        @include for-tablet-portrait-up {
            width: 75%;
        }
        @include for-tablet-landscape-up {
            width: 70%;
        }
        @include for-desktop-up {
            width: 60%;
        }
        @include for-big-desktop-up {
        
        }
        .close_menu {
            position: sticky;
            top: 0;
            width: 100%;
            // z-index: 5000; /* > main page < overlay */
            background-color: $primary_color_dark;
            // background-color: transparent;
            text-align: right;
            button {
                margin: 1%;
                margin-right: 5%;
                padding: 1%;
                border-radius: 5%;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                background-color: $primary_color_light;
                color: $highlight_colour_orange;
                &:hover {
                    background-color: $highlight_colour_orange;
                    color: $primary_color_light;                        
                }
            }
        }
        .popup_article {
            padding: 5%;
            overflow-y: auto;
            max-height: 90%;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 2.5%;
                margin: auto;
                display: block;
                /*transform: translate(5%, 0);*/
                @include for-tablet-portrait-up {
                }
                @include for-tablet-landscape-up {
                    max-height: 50%;
                }
                @include for-desktop-up {
                    width: 85%;
                }
                @include for-big-desktop-up {
                    width: 75%;
                }
            }
            p, figcaption, ul, li, h1, h2, h3, a {
                color: $primary_color_dark;
                margin-bottom: 1.5em;
                margin-top: 1.5em;

                @include for-tablet-portrait-up {
                    margin-top: 3.5%;
                }
                @include for-tablet-landscape-up {
                    margin-top: 2.5%;

                }
                @include for-desktop-up {
                }
                @include for-big-desktop-up {
                }
            }
            h1 {
                font-size: 1.5rem;
                @include for-big-desktop-up {
                    font-size: 2rem;
                }
            }
            h2 {
                font-size: 1.2rem;
                margin-bottom: 0%;
                @include for-big-desktop-up {
                    font-size: 1.6rem;
                }
            }
            a {
                font-style: bold;
                &:hover {
                color: $highlight_colour_orange;
                }
            }
            mark {
                color: $highlight_colour_orange;
                background-color: transparent;
            }
            ul {
                list-style-position: inside;
                padding-left: 5%;
            }
            li {
                margin:0;
            }
            figcaption {
                font-size: 0.8rem;
                text-align: center;
            }
            .a_button {
                text-decoration: none;
                background-color: $primary_color_light;
                color: $highlight_colour_orange;
                border-style: solid;
                border: $primary_color_dark;
                border-width: thin;
                padding: 2%;
                border-radius: 5%;
                &:hover{
                    background-color: $highlight_colour_orange;
                    color: $primary_color_light;
                }
            }
            .p_button {
                text-align: center;
            }   
            .img_header {
                width: 100%;
                height: 100px;
                object-fit: cover;
            }
        }
    }
}
#footer {
    background-color: $primary_color_light;
    color: $highlight_colour_orange;
    font-size: xx-small;
    text-align: center;
}
