/* Varaible declaration */
/* breakpoints */
/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Courier New", monospace;
  color: #bfc2c2;
}

/* Default for mobile */
html, body {
  min-width: 320px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smoothing: antialiased; /* Standard property, though not widely supported */
}
@media all and (min-width: 600px) {
  html, body {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}
@media all and (min-width: 1800px) {
  html, body {
    font-size: 18px;
  }
}

/* Layout / containers */
/* Landing area */
.landing_container {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  height: 100lvh; /* Take full viewpiont */
  overflow-y: none; /* If content overflow -> vertical scrolling */
  justify-content: center;
  text-align: center;
  background-color: lightslategray;
}

.landing_item {
  flex-grow: 1;
  background-color: black;
  max-height: 100lvh;
  overflow: hidden;
  position: relative;
}
.landing_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: fade_in 3s ease-in-out 1s forwards;
}
.landing_item svg {
  --path_stroke_size: 1; /* .26458437 */
  --path_stroke: #bfc2c2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svg_dog {
  animation: draw_line 5s linear 1s forwards;
}

.svg_cir {
  animation: draw_line 0.5s linear 3s forwards;
}

.svg_dow {
  animation: draw_line 0.4s linear 3.5s forwards;
}

.svg_l11, .svg_l12, .svg_l21, .svg_l22 {
  animation: draw_line 0.5s linear 3.9s forwards;
}

.svg_txt2, .svg_txt3, .svg_txt4 {
  opacity: 0;
  animation: fade_txt 1s ease-in-out 0s forwards;
}

@keyframes draw_line {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fade_txt {
  100% {
    opacity: 1;
  }
}
@keyframes fade_in {
  100% {
    opacity: 0.4;
  }
}
/* Menu */
.sticky_container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000; /* > main page < overlay */
  background-color: #3D4040;
}

.menu_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0;
  justify-content: center;
}
.menu_list li {
  margin: 2.5%;
}

/* Article selection area */
.article_container {
  display: flex;
  flex-direction: column; /* Allows articles to wrap to the next line */
  flex-wrap: nowrap;
  justify-content: center; /* Centers articles horizontally */
  align-items: center;
  gap: 50px; /* Space between articles */
  padding: 10%;
  background-color: #bfc2c2;
}
@media all and (min-width: 600px) {
  .article_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.article_item {
  flex: 1 1 90%;
  min-width: 90%;
  max-width: 100%; /* Mobile first :) */
  padding: 0px;
  position: relative;
}
@media all and (min-width: 600px) {
  .article_item {
    flex: 1 1 300px;
    min-width: 200px;
    max-width: 30%;
  }
}
@media all and (min-width: 900px) {
  .article_item {
    max-width: 25%;
  }
}
@media all and (min-width: 1200px) {
  .article_item:hover p {
    display: block;
  }
  .article_item:hover div {
    background-color: rgba(61, 64, 64, 0.8);
  }
  .article_item:hover img {
    filter: none;
  }
}
.article_item img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 1200px) {
  .article_item img {
    filter: blur(2px);
    transition: width 0.2s, height 0.2s, filter 0.2s;
    transition-timing-function: ease-out;
  }
}
.article_item div {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3D4040;
  background-color: rgba(61, 64, 64, 0.8);
  text-align: center;
  border-radius: 5%;
}
@media all and (min-width: 1200px) {
  .article_item div {
    transition: background-color 0.5s ease-out;
    background-color: transparent;
  }
}
.article_item h2 {
  font-size: 1.2rem;
  color: #3D4040;
}
.article_item p {
  font-size: 1rem;
  display: block;
}
@media all and (min-width: 1200px) {
  .article_item p {
    display: none;
  }
}
/* Article popup */
.blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.popup_container {
  display: none;
  position: fixed;
  height: 90%;
  width: 90%;
  min-width: 300px;
  overflow-y: auto; /* If content overflow -> vertical scrolling */
  border-radius: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 7000; /* > overlay */
}
@media all and (min-width: 600px) {
  .popup_container {
    width: 75%;
  }
}
@media all and (min-width: 900px) {
  .popup_container {
    width: 70%;
  }
}
@media all and (min-width: 1200px) {
  .popup_container {
    width: 60%;
  }
}
.close_menu {
  /*padding: 0px;*/
  text-align: left;
}

.close_button {
  background-color: lightgrey;
}

.popup_article {
  color: whitesmoke;
  padding: 5%;
}
.popup_article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10%;
  /*transform: translate(5%, 0);*/
}
.popup_article p, .popup_article figcaption, .popup_article ul, .popup_article h1, .popup_article h2, .popup_article h3, .popup_article a {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}
.popup_article h1 {
  font-size: 1.5rem;
}
.popup_article h2 {
  font-size: 1.2rem;
}
.popup_article a {
  color: #bfc2c2;
  font-style: bold;
}
.popup_article a:hover {
  color: red;
  font-size: 1.5rem;
}
.popup_article ul {
  list-style-position: inside;
  padding-left: 5%;
}
.popup_article figcaption {
  font-size: 0.8rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */