/* Varaible declaration */
/* mixin's defined */
/* Default formatting */
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Courier New", monospace;
}

/* Layout / containers */
/* Landing area */
.landing_container {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  height: 100lvh; /* Take full viewpiont */
  /*margin: 0;*/
  overflow-y: auto; /* If content overflow -> vertical scrolling */
  /*padding: 0;*/
  justify-content: center;
  text-align: center;
  background-color: lightslategray;
}

.landing_item {
  flex-grow: 1;
  background-color: black;
  max-height: 100lvh;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}
.landing_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: fade_in 3s ease-in-out 1s forwards;
}
.landing_item svg {
  --path_stroke_size: 0.265; /* .26458437 */
  --path_stroke: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg_dog {
  animation: draw_line 2s linear 1s forwards;
}

.svg_cir {
  animation: draw_line 2s linear 1s forwards;
}

.svg_dow {
  animation: draw_line 1s linear 3s forwards;
}

.svg_l11, .svg_l12, .svg_l21, .svg_l22 {
  animation: draw_line 2s linear 4s forwards;
}

.svg_txt1, .svg_txt2, .svg_txt3, .svg_txt4 {
  opacity: 0;
  animation: fade_txt 1s ease-in-out 0s forwards;
}

@keyframes draw_line {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fade_txt {
  100% {
    opacity: 1;
  }
}
@keyframes fade_in {
  100% {
    opacity: 0.4;
  }
}
/* Menu */
.sticky_container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000; /* > main page < overlay */
  background-color: slategrey;
}

.menu_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0px;
  margin: 0;
  justify-content: center;
}
.menu_list li {
  margin: 20px;
}

/* Article selection area */
.article_container {
  display: flex;
  flex-wrap: wrap; /* Allows articles to wrap to the next line */
  gap: 50px; /* Space between articles */
  justify-content: center; /* Centers articles horizontally */
  padding: 100px;
  background-color: whitesmoke;
}

.article_item {
  flex: 0 0 200px;
  min-width: 200px;
  min-height: 200px;
  max-width: calc(33.3% - 50px); /* Mobile first :) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /*padding: 0px;*/
  border-radius: 8px;
  position: relative;
  text-align: center;
}
.article_item h2 {
  font-size: 14px;
}
.article_item p {
  font-size: 12px;
  display: none;
}
.article_item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(2px);
  transition: width 0.2s, height 0.2s, filter 0.2s;
  transition-timing-function: ease-out;
}
.article_item div {
  position: absolute;
  width: 180px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: none;
  transition: background-color 1s;
}

.article_item:hover p {
  display: block;
}
.article_item:hover div {
  background-color: rgba(255, 255, 255, 0.5);
}
.article_item:hover img {
  width: 120%;
  height: 120%;
  filter: none;
}

/* Article popup */
.blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6000; /* > Menu < popup */
  backdrop-filter: blur(8px); /* Adjust blur strength as needed */
  -webkit-backdrop-filter: blur(8px); /* For Safari and other WebKit browsers */
}

.popup_container {
  display: none;
  position: fixed;
  height: 90%;
  width: 50%;
  min-width: 300px;
  max-width: 800px;
  overflow-y: auto; /* If content overflow -> vertical scrolling */
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 7000; /* > overlay */
}

.close_menu {
  /*padding: 0px;*/
  text-align: left;
}

.close_button {
  background-color: lightgrey;
}

.popup_article {
  padding: 5%;
  color: whitesmoke;
}
.popup_article img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transform: translate(5%, 0);
}
.popup_article p {
  font-size: 16px;
}
.popup_article figcaption {
  font-size: 12px;
  text-align: center;
}

.github_link {
  color: whitesmoke;
  font-style: bold;
}

.github_link:hover {
  color: red;
  font-size: 16px;
}

/* Size variations */
@media (max-width: 768px) {
  .article-item {
    max-width: calc(50% - 20px); /* 2 columns on medium screens */
  }
  .popup_container {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .article-item {
    max-width: 100%; /* Single column on small screens */
  }
  .popup_container {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */