/* Variable declaration */
/* breakpoints */
/* Default formatting */
html, body, div, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Satoshi", Arial, sans-serif;
  color: #bfc2c2;
}

html, body, div, p, ul, li {
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.25;
}

/* Default for mobile */
html, body {
  min-width: 320px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smoothing: antialiased; /* Standard property, though not widely supported */
}
@media all and (min-width: 600px) {
  html, body {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}
@media all and (min-width: 1800px) {
  html, body {
    font-size: 18px;
  }
}

/* Layout / containers */
/* Loading screen */
#loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background-color: black;
  color: #bfc2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 20000; /* Ensure it is above all other content */
  opacity: 1;
  pointer-events: none;
}

/* Landing area */
#landing_container {
  display: flex;
  flex-direction: column;
  min-height: 30lvh;
  height: 70lvh; /* Take full viewpoint */
  overflow-y: none; /* If content overflow -> vertical scrolling */
  justify-content: center;
  text-align: center;
  background-color: lightslategray;
}

#landing_item {
  flex-grow: 1;
  background-color: black;
  max-height: 100%;
  overflow: hidden;
}
#landing_item svg {
  --path_stroke_size: 1; /* .26458437 */
  --path_stroke: #bfc2c2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#landing_background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  animation: fade_in 3s ease-in-out 1s forwards;
}

#landing_icon {
  width: 5rem;
  height: auto;
  position: relative;
  top: 0;
}

#logo {
  margin: 0;
  padding: 0;
  border: none;
}

#landing_align {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  min-width: 300px;
}

#landing_content {
  position: relative;
  margin-top: calc(5rem - 5px);
}
#landing_content:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-100%);
  height: 5rem;
  width: 2px;
  background-color: #bfc2c2;
}

#landing_text.animated {
  animation: expand_title 1.5s ease-out 0s forwards;
}

@keyframes expand_title {
  0% {
    max-height: 0;
    padding: 0rem;
    opacity: 0;
  }
  30% {
    max-height: 500px;
    padding: 2rem;
  }
  100% {
    opacity: 1;
  }
}
#landing_text {
  color: #bfc2c2;
  text-shadow: 2px 2px 4px #000000;
  border-top: #bfc2c2 solid 2px;
  border-bottom: #bfc2c2 solid 2px;
  padding: 2rem;
  max-height: 500px;
  overflow: hidden;
}
#landing_text h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#landing_text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
#landing_text h3 {
  font-size: 1rem;
}

@keyframes fade_in {
  100% {
    opacity: 0.4;
  }
}
/* Menu */
#sticky_container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000; /* > main page < overlay */
  background-color: #3D4040;
}
#sticky_container .menu_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0;
  justify-content: center;
}
#sticky_container .menu_list li {
  margin: 1rem;
}
#sticky_container .menu_list button {
  width: auto;
  white-space: nowrap;
  font-size: 1rem;
  color: #d9230f;
  background-color: #bfc2c2;
  padding: 10%;
  border: none;
  border-radius: 5%;
  box-shadow: 0px 0px 2px 2px #bfc2c2;
}
#sticky_container .menu_list button:hover {
  color: #bfc2c2;
  background-color: #d9230f;
  box-shadow: 0px 0px 2px 2px #d9230f;
}

/* Article selection area */
#article_container {
  display: flex;
  flex-direction: column; /* Allows articles to wrap to the next line */
  flex-wrap: nowrap;
  justify-content: center; /* Centers articles horizontally */
  align-items: center;
  gap: 50px; /* Space between articles */
  padding-top: 5%;
  padding: 5% 5%;
  background-color: #bfc2c2;
}
@media all and (min-width: 600px) {
  #article_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#article_container .article_item {
  flex: 1 1 90%;
  min-width: 90%;
  max-width: 90%;
  aspect-ratio: 4/3;
  padding: 0px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
@media all and (min-width: 600px) {
  #article_container .article_item {
    flex: 1 1 400px;
    min-width: 200px;
    max-width: 40%;
  }
}
@media all and (min-width: 900px) {
  #article_container .article_item {
    max-width: 25%;
  }
}
@media all and (min-width: 1200px) {
  #article_container .article_item:hover p {
    display: block;
  }
  #article_container .article_item:hover img {
    filter: blur(1px);
  }
}
#article_container .article_item .container_image {
  width: 100%;
  height: 100%;
}
#article_container .article_item img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: fill;
     object-fit: fill;
}
#article_container .article_item .container_header {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  color: #3D4040;
  background-color: rgba(61, 64, 64, 0.8);
  text-align: center;
  border-radius: 0.5rem;
}
#article_container .article_item h2 {
  font-size: 1rem;
}
#article_container .article_item p {
  font-size: 1rem;
  display: block;
}
@media all and (min-width: 1200px) {
  #article_container .article_item p {
    display: none;
  }
}
/* Article popup */
#blur_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6000;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
#blur_overlay .popup_container {
  display: none;
  position: fixed;
  height: 90%;
  width: 90%;
  min-width: 300px;
  overflow-y: hidden; /* If content overflow -> vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: #bfc2c2;
  border-radius: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  z-index: 7000; /* > overlay */
}
@media all and (min-width: 600px) {
  #blur_overlay .popup_container {
    width: 75%;
  }
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container {
    width: 70%;
  }
}
@media all and (min-width: 1200px) {
  #blur_overlay .popup_container {
    width: 60%;
  }
}
#blur_overlay .popup_container .close_menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #3D4040;
}
#blur_overlay .popup_container .close_menu h1 {
  font-size: 1.5rem;
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
}
#blur_overlay .popup_container .close_menu button {
  margin: 1%;
  margin-right: 5%;
  padding: 1%;
  border-radius: 5%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: #bfc2c2;
  color: #d9230f;
}
#blur_overlay .popup_container .close_menu button:hover {
  background-color: #d9230f;
  color: #bfc2c2;
}
#blur_overlay .popup_container .popup_article {
  padding: 5%;
  overflow-y: auto;
  max-height: 90%;
}
#blur_overlay .popup_container .popup_article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5%;
  margin: auto;
  display: block;
  /*transform: translate(5%, 0);*/
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article img {
    max-height: 50%;
  }
}
@media all and (min-width: 1200px) {
  #blur_overlay .popup_container .popup_article img {
    width: 85%;
  }
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article img {
    width: 75%;
  }
}
#blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article ul, #blur_overlay .popup_container .popup_article li, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a {
  color: #3D4040;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
@media all and (min-width: 600px) {
  #blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article ul, #blur_overlay .popup_container .popup_article li, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a {
    margin-top: 3.5%;
  }
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article p, #blur_overlay .popup_container .popup_article figcaption, #blur_overlay .popup_container .popup_article ul, #blur_overlay .popup_container .popup_article li, #blur_overlay .popup_container .popup_article h1, #blur_overlay .popup_container .popup_article h2, #blur_overlay .popup_container .popup_article h3, #blur_overlay .popup_container .popup_article a {
    margin-top: 2.5%;
  }
}
#blur_overlay .popup_container .popup_article h1 {
  font-size: 1.5rem;
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article h1 {
    font-size: 2rem;
  }
}
#blur_overlay .popup_container .popup_article h2 {
  font-size: 1.2rem;
  margin-bottom: 0%;
}
@media all and (min-width: 1800px) {
  #blur_overlay .popup_container .popup_article h2 {
    font-size: 1.6rem;
  }
}
#blur_overlay .popup_container .popup_article a {
  font-style: bold;
}
#blur_overlay .popup_container .popup_article a:hover {
  color: #d9230f;
}
#blur_overlay .popup_container .popup_article mark {
  color: #d9230f;
  background-color: transparent;
}
#blur_overlay .popup_container .popup_article ul {
  list-style-position: inside;
  padding-left: 5%;
}
#blur_overlay .popup_container .popup_article li {
  margin: 0;
}
#blur_overlay .popup_container .popup_article figcaption {
  font-size: 0.8rem;
  text-align: center;
}
#blur_overlay .popup_container .popup_article .a_button {
  text-decoration: none;
  background-color: #bfc2c2;
  color: #d9230f;
  border-style: solid;
  border: #3D4040;
  border-width: thin;
  padding: 1% 2% 1% 2%;
  border-radius: 5%;
}
#blur_overlay .popup_container .popup_article .a_button:hover {
  background-color: #d9230f;
  color: #bfc2c2;
}
#blur_overlay .popup_container .popup_article .p_button {
  text-align: center;
}
#blur_overlay .popup_container .popup_article .img_header {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 900px) {
  #blur_overlay .popup_container .popup_article .img_header {
    height: 200px;
  }
}
#footer {
  background-color: #bfc2c2;
  color: #d9230f;
  font-size: xx-small;
  text-align: center;
}/*# sourceMappingURL=main.css.map */