body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#content .info {
  height: 20px;
}

#content .map path {
  /* fill: #aaa; */
  stroke: #fff;
}

#content .bounding-box rect {
  fill: none;
  stroke: #333;
  stroke-dasharray: 2,1;
}

#content .centroid {
  display: none;
}

#content .centroid circle {
  fill: red;
}

#content input {
  width: 600px;
}
